*{
	padding: 0px;
	margin: 0px;
}
html{
	font-family: arial;
}
body{
	background-color: rgb(230,240,240);
	/*background-color: white;*/
	position: absolute;
}
#header{
	position: relative;
	width: 100vw;
	height:50vw;
	/*background-color: #0D0E0E;*/
	
}
#header #face{
	position: absolute;
	top:12%;
	left: 34%;
	width: 32%;
	background-image:url('https://nxlinfo.github.io/assests/face.jpg');
	background-size: 100%;
	/*background-repeat: no-repeat;*/
	height: 62%;
	border-radius: 100%;
	border:solid #ccc;
}
/*#face img{
	position: absolute;
	background-size: 100%;
}*/
#header #name{
	/*position: absolute;*/
	/*background-color: red;	*/
	width: 100vw;
	height: 10vw;
	position: absolute;
	top:84%;
	color:black;
	font-size: 30px;
	text-align: center;
	/*font-style: ;*/
}
#header #age{
	color:white;
	position: absolute;
	top:60%;
	font-size: 5vw;
	font-family: arial;
	right:8%;
}
#header #sex{
	color:white;
	position: absolute;
	top:60%;
	font-size: 5vw;
	font-family: arial;
	left:34%;

}
#bodyss{	
	position:absolute;
	/*background-color: red;*/
}
#bodyssul{
	position: relative;
}
#bodyss ul li{
	position: relative;
	top:4vw;
	margin: 0.5vw 0px;
	width: 100vw;
	height: 9vw;
	list-style-type: none;
}
/*.fa-facebook{
	color:white;
}*/
#bodyss ul li p{
	position: absolute;
	top:12%;
	left:27%;
	color:black;
	font-size: 5vw;
	/*top:%;*/
}
#bodyss ul li i{
	position: absolute;
	top:10%;
	left:14%;
	color:black;
	font-size: 7vw;
}
#body2{
	/*background-color: red;*/
	position: absolute;
	width: 100vw;
	height:15vw;
	top:97vw;
}
#body2 ul{
	position: relative;
}
#body2 ul li{
	position: relative;
	left: 15%;
	margin-left: 5%;
	/*background-color: red;*/
	display: inline-block;
	width: 15vw;
	height: 14vw;
	z-index: 2;
	border-radius:5vw;
}
#body2 ul i{
	font-size: 14vw;
}
ul li img{
	margin: 0.5vw;
	background-size: 100%;
	width: 14vw;
	height: 14vw;
}
#donate{
	background-color: black;
	width: 40vw;
	height: 15vw;
	position: absolute;
	top: 118vw;
	left: 28vw;
	border-radius: 3vw;
	border:solid pink;
}
#donate p{
	color: white;
	font-size: 7vw;
	margin:3.5vw; 
	text-align: center;
}
#donate:hover{
	background-color: pink;
}
#idmomo{
	background-image: url('https://nxlinfo.github.io/assests/momo.jpg');
	width: 16vw;
	height: 16vw;
	background-size: 100%;
	position: absolute;
	top:10%;
	left: 4%;
	border-radius: 6vw;
}
#idviettel{
	background-image: url('https://nxlinfo.github.io/assests/unnamed.png');
	width: 16vw;
	height: 16vw;
	background-size: 100%;
	position: absolute;
	top:10%;
	left: 4%;
	border-radius: 6vw;
}
#idviettin{
	z-index: 2;
	background-image: url('https://nxlinfo.github.io/assests/viettin.png');
	width: 16vw;
	height: 16vw;
	background-size: 100%;
	position: absolute;
	top:10%;
	left: 4%;
	/*border-radius: 6vw;*/
}

.fa-copy{
	cursor: pointer;
	position: absolute;
	top:12%;
	right: 3%;
	font-size:4vw;
	color :#fff;
}
.fa-copy:hover{
	color:#ffb;
}
#home2{
	position: absolute;
	bottom: -25vw;
	left:5vw;
	height: 15vw;
	width: 25vw;
	background-color: #0D0E0E;
	/*color: #ffb;
	text-align: center;
	font-size: 8vw;*/
	border-radius: 6vw;
}
#home2 p{
	color:rgba(132,243,248,0.6);
	text-align: center;
	font-size: 8vw;
	margin: 2vw 0px;
	font-family: arial;
}
#test:hover #home2{
	background-color: #2c2f2d;
}
#sdt{
	width:100vw;
	height:20vw;
	background-color: red;
	display: none;
}
#nhapsdt{
		width: 80%;
		height:50%;
}
#thayHuan{
	position:	relative;
	width:100vw;
	height:100vw;
	background-image: url('https://memedaily.vn/storage/meme/toan-bo-loi-ran-day-cua-huan-hoa-hong-huan-rose.jpg');
	background-size: 100%;
	display: none;
	animation-name:move;
    animation-duration:8s;
   /* animation-iteration-count:infinite;*/
	/*display: none;*/
	/*z-index: 4;*/
}
#bodysa li{
	cursor: pointer;
}
 @keyframes move{
            0%{
                opacity: 0%;
            }
            10%{
            	opacity: 0%;
            }
            100%{
              opacity: 100%;
            }
        }
#input{
	font-size: 3vw;
	text-align: center;
	color:white;
	background-color: #000;
}
.fa-paper-plane{
	position: absolute;
	bottom: 2vw;
	right: 15vw;
	font-size: 4vw;
	animation-name:play;
    animation-duration:2s;
    animation-iteration-count:infinite;
}